<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite API">
    <test name="FirstTest">
        <classes>
            <class name="ge.tbc.testautomation.ApiTests.ContinentsApiTest"/>
            <class name="ge.tbc.testautomation.ApiTests.EmployeeApiTest"/>
        </classes>
    </test>
</suite>